<!DOCTYPE html>
<html>
  <head>
    <title>EcApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
        <li>
          <%= link_to "マイページ", customers_my_page_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "About", about_path %>
        </li>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
